<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <ul>
                <% for (let post of posts) {%>
                    <li class="list-group-item">
                        <div class="lead">
                            <a href="/posts/<%= post._id %>">
                                <%= post.title %>
                            </a>
                        </div>
                        <a href="<%= post.url %>" target="_blank">
                            <%= post.url %>
                        </a><br>
                        <b>Created</b> : <%=
                            `${post.createdAt.getDate()}/${post.createdAt.getMonth()}/${post.createdAt.getFullYear()}`
                            %><br>
                            <b>Updated</b> : <%=
                                `${post.updatedAt.getDate()}/${post.updatedAt.getMonth()}/${post.updatedAt.getFullYear()}`
                                %>
                                </p>
                    </li>
                    <% }%>
            </ul>
        </div>
    </div>