<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="<%= post.url %>" class="lead">
                <%= post.title %>
            </a>
            <p>
                <%= post.summary %>
            </p>
            <p><b>Created</b> : <%= post.createdAt %><br>
                    <b>Updated</b> : <%= post.updatedAt %>
                        <%= `${post.updatedAt.getTime()} -
                            ${post.updatedAt.getDate()}/${post.updatedAt.getMonth()}/${post.updatedAt.getFullYear()}` %>
            </p>
        </div>
    </div>